*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background: #2f37394b;
  backdrop-filter: blur(5px);
    z-index: 100;
 }
 .navbar-nav .nav-item a{
    color:white !important;
 }
 .navbar a:hover{
    color: crimson !important;
 }
 .home{
    width: 100%;
    min-height: 650px;
    animation-name: image;
    animation-duration: 16s;
    transition: all 4s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position: relative;
   
 }
 .home form{
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
    background-color: white;
 }
 .home form select{
    border: none;
 }
 .home form select option{
    background-color: rgb(102, 150, 102);
    color: white;
 }
 .home form :nth-child(2){
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    padding: 0px 40px 0px 40px ;
 }
 .home form .btn{
    background-color: rgba(27, 29, 192, 0.767);
 }
 .home h1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    padding-top: 45px;
    letter-spacing: 1px;
 }
 .home p{
    font-size: 15px;
    color: white;
    text-shadow: 5px 5px 5px white;
    text-align: center; 
 }
 .home footer {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
 }
 footer h3{
    font-size: 25px;
 }
 footer p{
    margin-top: -7px;
 }
 span{
    color: rgb(72, 72, 245);
 }
 
@keyframes image {
    0%   {background-image: url(/Image/house1.jpg); background-repeat: no-repeat;background-size: cover;}
    25%   {background-image: url(/Image/house0.jpeg); background-repeat: no-repeat;background-size: cover;}
    50%  {background-image: url(/Image/house2.webp); background-repeat: no-repeat;background-size: cover;}
    100%  {background-image: url(/Image/house3.jpg); background-repeat: no-repeat;background-size: cover;}
  

}
@media only screen and (min-width: 300px) and (max-width:750px){
form{
    flex-direction: column;
    gap: 10px;

}
form :nth-child(2){
    border: none;
    padding: 0px;
}
footer{
    flex-direction: column;
    bottom:-100px;
    text-align: center;
}
footer p{
    display: inline;
}
}

/* about css */

.about{
   width: 100%;
  min-height: 620px;
  padding:60px 10px 10px 10px ;
  background-color: #021526;
   
}
.about > h1{
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 5px yellow;
  padding-left: 20px;
}
.about-cont{
  width: 100%;
  padding: 30px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.cont{
  width: 30%;
}
.cont i{
  color: white;
  text-shadow: 5px 5px 5px orangered;

}
.cont h5{
  margin: 20px 0px;
  color: white;
}
.cont p{
  color: white;
 

}
.about-service{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 30px;
}
.video{
 width: 40%;
}
.services{
 width: 40%;
}
.video video{
 width: 100%;
 height: 100%;
}
table,td{
 padding: 5px;
}
.services h2{
 color: white;
 text-shadow: 5px 5px 5px  yellow;
}
.services > p {
 color: rgb(228, 215, 215);
 text-shadow: 5px 5px 5px  rgb(245, 20, 20);
}


table h3{
 color: white;

}
table i{
 color: white;
 text-shadow: 5px 5px 5px orangered;
}
table p{
 color: white;

}
.review{
 padding: 20px 10px 10px 10px;
}
.review > h1{
 text-align: center;
 color: white;
 text-shadow: 5px 5px 5px yellow;
}
.review > p{
 text-align: center;
 color: white;

}
.review-card{
 /* width: 300px ;
 height: 350px; */
 border-radius: 10px;
 border: 2px solid white;
 padding: 10px;
 text-align: center;
 margin-top: 90px;
 transition: all 1s;
 background-color: white;
}
.profil{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 position: relative;
 top: 0;
 transition: all 1s;
 z-index: 3;
}
.review-card p{
 margin-top: 15px;
}
.star{
 width: 100px;
}
.review-card:hover .profil{
 top: -20%;
}
.review-card:hover{
 transform: scale(1.1);
 background-color: black;
 color: aliceblue;
}
@media only screen and (min-width: 300px) and (max-width:600px){
 .about-cont{
   flex-direction: column;
 }
 .about-service{
   flex-direction: column;
 }
 .review-card{
   flex-grow: 1;
 } 
}

/* property css */

.property{
   width: 100%;
   min-height: 620px;
   background-color: #BDE8CA;
   padding: 40px 30px 20px 30px ;
}
.head{
   width: 100%;
   padding: 30px;
   display: flex;
   border-bottom: 2px solid black;
}
.head h1{
   width: 60%;
   font-size: 40px;

}
.head p{
   width: 30%;  
}
.btns{
   display: flex;
   padding: 20px;
   justify-content: space-between;
}
.sub-btns{
   display: flex;
   gap: 10px;
}
.sub-btns button{
   background-color:white;
   color: gray;
}
.sub-btns button:hover{
   background-color: blue;
   color: aliceblue;
}
 .btn-b{
   background-color: black;
   color: aliceblue;
}
.btn-b:hover{
    background-color: white;
    
}
.card-icon i{
   color:rgb(214, 18, 18);
}
.card-icon{
   display: flex;
   gap: 20px;
   padding-bottom: 20px;
}
.card-body .btn{
    color: rgb(42, 114, 247);
    background-color: rgb(209, 211, 212);
}
.property-images .card{
   width: 300px;
   height: 360px;
   position: relative;
   background-color: #fff;
   display: flex;
   box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
   transition: 0.5 ease-in-out;
}
.property-images .card:hover{
   transform: translateY(20px);
}
.property-images .card::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
   z-index: 2;
   transition: 0.5s all;
   opacity: 0;
}
.property-images .card:hover::before{
   opacity: 1;
}
.property-images .card img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}
.property-images .card .card-body{
   position: relative;
   z-index: 3;
   color: #fff;
   opacity: 0;
   transform: translateY(30px);
   top: 50%;
   transition: 0.5 all;

}
.property-images .card:hover .card-body{
   opacity: 1;
   transform: translateY(0);
}
@media only screen and (min-width: 300px) and (max-width:600px){
   .head{
       flex-direction: column;
   }
   .btns{
       flex-direction: column;
   }
   .sub-btns{
       flex-direction: column;
   }
} 
.ads{
   padding-top: 40px;
   text-align: center;
   align-items: center;

}
.ads-icons{
   padding-top: 20px;
   display: flex;
   justify-content: space-evenly;
}
.ads-icons i{
   width: 50px;
   height: 50px;
   padding-top:20px ;
   background-color: #fff;
   position: relative;
}

/* .ads-icons i:hover{
   background-color:black;
   color: white;
} */
.line {
   position: absolute;
   margin-top: 40px;
   left: 20%;
   width: 60%;
   border-bottom: 2px solid black;
}
.ads-image {
   margin: auto;
   padding-top: 20px;
   width: 80%;
   height: 300px;
   position: relative;
}
.ads-image img{
   width: 100%;
   height: 100%;
}
.ads-box {
   width: 280px;
   height: 240px;
   background-color: white;
   border-radius: 10px;
   position: absolute;
   bottom: 20px;
   right: 20px;
   transition: all 1s;
   animation-name: box;
   animation-duration: 2s;

}
.ads-box:hover{
   transform: scale(1.1);
   box-shadow: 0px 0px 10px black;
}
@keyframes box{
 0%{transform: scale(0);}
 100%{transform: scale(1);}
}
@media only screen and (min-width: 300px) and (max-width:600px){
   .ads-box{
       position: unset;
       margin-top: 10px;
   }
   .property-images .card{
     flex-grow: 1;
   }
}


/* agent css */

.agents{
   width: 100%;
   min-height: 620px;
   background-color: #021526;
   padding: 40px 30px 20px 30px ;
}
.agent-head{
   width: 100%;
   display: flex;
   padding: 20px;
   justify-content: space-between;
}
.agent-subhead1{
   width: 30%;
}
.agent-subhead1 h1{
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px yellow;
}
.agent-subhead1 p{
   font-size: 18px;
   color: white;
}
.agent-subhead2{
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
.agent-subhead2 :nth-child(1){
   width: 45% ;
   margin-right: 10px;
   
}
.agent-subhead2 :nth-child(2){
   width: 45% ;
   
}
.agent-subhead2 .btn{
   width: 50% ;
   font-weight: bold;
   background-color: cadetblue;
   color: white;
   box-shadow: 5px 5px 5px  rgb(139, 228, 231);
}
.agent-subhead2 select{
   border: none;
   height: 40px;
   font-weight: bold;
   background-color: cadetblue;
   color: white;
   box-shadow: 5px 5px 5px  rgb(139, 228, 231);
}
.agent-image{
   padding-top: 10px;
}
.agent-image .card p{
   color: gray;
}
.agent-image .card span{
   color:black;
   font-size:18px ;
}
.agent-image .card{
   position: relative;
   cursor: pointer;
   border: none;
   background-color: transparent !important ;
}
.agent-image .card-img-top{
   position: relative;
   /* height: 200px; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   transform: translateY(100px);
   z-index: 1;
   
}
.agent-image .card:hover  .card-img-top{
   transform: translateY(0);
}
.agent-image .card-body{
   position: relative;
   /* height: 200px; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   background-color: aliceblue;
   transform: translateY(-130px);
   
}
.agent-image .card:hover .card-body{
   transform: translateY(0);
}
.agent-image .card-img-top{
   box-shadow: 0px 0px 15px white;
}
.agent-image .card-text{
   border-bottom: 2px solid gray;
   width: 100%;
}
.website{
   width: 100%;
   padding: 40px 10px 10px 10px;
   
}
.web-head{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.sub-head{
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.sub-btn{
   width: 30%;
   text-align: end;
}
.sub-head h1{
   font-size: 40px;
   font-weight: bold;
   color: white;
   text-shadow: 5px 5px 5px yellow;
   font-family:Arial, Helvetica, sans-serif;
}
.sub-head p{
   color: white;
}
.sub-btn .btn{
   font-weight: bold;
   background-color: cadetblue;
   color: white;
   box-shadow: 5px 5px 5px  rgb(139, 228, 231);
}
.news{
   padding-top: 100px;
}
.news-add .btn{
   margin: 10px 10px 10px 10px;
   color: rgb(0, 47, 255);
   text-decoration: underline;
}
.news-add{
   transition: 1s all;
}
.news-add p{
   color: gray;
}
.news-add:hover{
   transform: scale(1.1);
}
.card-top {
   position: relative;
   top: 90px;
   z-index: 3;
   transition: all 1s;
}
.news-add:hover .card-top{
   top: -50px; 
}
@media only screen and (min-width: 300px) and (max-width:600px){
   .agent-head{
       flex-direction: column;
   }
   .agent-subhead1{
       flex-direction: column;
   }
   .web-head{
       flex-direction: column;
   }
   .sub-head{
       flex-direction: column;
   }
   .agent-image .card{
       flex-direction: column;
   }
   .news-add {
       flex-direction: column;
   }
} 

/* contact css */

.contact{
   width: 100%;
   padding: 60px 10px 10px 10px;
}
.contact-content{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   background-color: white;
   justify-content: center;
   align-items: center;
}
.contact-sub1{
   width: 50%;
}
.contact-sub-content{
   width: 400px;
   min-height: 250px;
   padding: 20px;
   border-radius: 10px;
   background-color: white;
   position: relative;
   left: 60%;
}
 .contact-sub-content h1{
   font-size: 35px;
   font-weight: bold;
}
.contact-sub-content a {
   color: rgb(41, 74, 136) !important; 
}
.contact-sub2{
   width: 50%;
}
.contact-sub2 img{
   width: 100%;
   height: 100%;
}
.contact-type{
   width: 100%;
   /* margin-top: 60px; */
   padding: 80px 20px 80px 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 40px;
   background-color: lightblue;
}
.type-box{
   width: 300px;
   height: 200px;
   padding: 30px 20px 20px 20px;
   text-align: center;
   background-color: white;
}
.type-box h5{
   margin-top: 15px;
}
.type-box p{
   color: gray;
}
.whole-contact{
   background-color: black;
}
.contact-detail{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.contact-text{
   width: 40%;
   padding: 40px 30px 20px 110px ;
   color: white;
}
.customer-detail{
   width: 60%;
   background-color: white;
   padding: 60px 20px 20px 30px;
}
form{
   width: 80%;
  
}
.customer-detail input{
   width: 100%;
   height: 40px;
   padding: 10px;
   margin-bottom: 20px;
   background-color: whitesmoke;
  border: none;
  
}
.customer-detail textarea{
   width: 100%;
   height: 200px;
   padding: 10px;
   background-color: whitesmoke;
   border: none; 
}
 form .placeholder{
   color: gray;
}
.customer-detail button{
   width: 90px;
   padding: 10px;
   margin-top: 10px;
   border: none;
   background-color: #7393B3;
   color: white;
   font-weight: bold;
}
.contact-text   a {
   font-size: 18px;
   font-weight: bold;
   color: rgb(41, 74, 136) !important; 
}
.contact-text h1{
   font-size: 40px;
   font-weight: bold;
   margin: 15px 0 20px 0;
}
.contact-text   p {
   font-size: 19px;
   font-weight: 200;
}
.contact-map{
   width: 80%;
   margin: auto;
   padding: 80px 20px ;
}
.contact-map iframe{
   width: 100%;
}
.end-detail{
   padding: 90px ;
   background:black;
   backdrop-filter: blur(50px);
   color: white;
}
.row a {
   font-size: 19px ;
   font-weight: bold;
   margin-left: 10px;
}
.row p {
   margin-left: 20px;
   
}
.row input{
   border: none;
   height: 40px;
   border-bottom: 2px solid gray;   
}

.row button{
   margin-top: 10px;
   border: none;
   padding: 5px;
   background-color: white;
   border-radius: 5px
}
.end-detail h1{
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   color: white;
}
.help-detail{
  padding-top:40px ;
}
.help-head{
  width: 40%;
  margin: auto;
  text-align: center;
  color: white;
  
}
.help-content{
  display: flex;
  padding-top:30px ;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  color: white;

}
.contact-line{
  border-bottom: 2px solid gray;
}
.help-content i{
  margin-left: 10px;
}
@media only screen and (min-width: 300px) and (max-width:800px){
  .contact-content{
     flex-direction: column;
     flex-grow: 1;
  }
  .contact-sub1{
     width: 100%;
  }
  .contact-sub-content{
     position: static;
     width: 280px;
     margin-bottom: 20px;
  }
  .contact-type{
     flex-direction: column;
     flex-grow: 1;
  }
  .contact-detail{
     flex-direction: column;
     flex-grow: 1;
  }
  .row input{
     width: 60px;
  }
  .help-content{
     flex-direction: column;
     flex-grow: 1;
  }
}
.footer-cred{
  width: 100%;
  height: 50px;
  background-color: #000;
  text-align: center;
  color: #fff;
  padding-top: 15px;
  text-transform: uppercase;
}





